@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f9fafb;
}

/* Smooth transitions */
* {
  transition: all 0.2s ease-in-out;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #1e3a8a;
  border-radius: 10px;
}